@tailwind base;
@tailwind components;
@tailwind utilities;

.pics {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.videoLayout {
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
}

video {
    object-fit: cover;
    border-radius: 20px;
}

.card {
    position: absolute;
    bottom: 2rem;
    border-radius: 13px;
    padding: 0.6rem 1rem;
    margin: 0 15px;
}

.card p {
    font-weight: bold;
}

.isBotSpeaking {
    background-color: aquamarine;
}

.isBotNotSpeaking {
    background-color: yellow;
}

.layout {
    width: 300px;
    height: 200px;
    padding: 0.5rem;
    border-radius: 20px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.isSpeaking {
    background-color: orange;
}
